# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/modules

# testing
/coverage
__snapshots__
# __test__
*/test/

# production
/build
/script/__pycache__
/src_translate
/src/libs/i18nTool/i18n
yarn.lock
/[0-9]*
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.zip
__pycache__
.~*.xlsx